<% layout('/layouts/boilerplate') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= listing.title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
          <h1><%= listing.title %></h1>
        </div>  
    <div class="card col-6 offset-3 show-card listing-card">
        <img 
        src="<%= listing.image && listing.image.trim() !== '' 
        ? listing.image 
        : 'https://images.unsplash.com/photo-1501785888041-af3ef285b470' %>" 
        class="card-img-top show-img"
        alt="listing_image">
        <div class="card-body">
        <p class="card-text">
            <!-- <b><%= listing.title %></b><br> -->
           <%= listing.description %><br>
           Price: &#8377;<%= listing.price.toLocaleString('en-IN') %><br>
           Location: <%= listing.location %><br>
           Country: <%= listing.country %>
        </p>
    </div>
    </div>
     </div>
      <div class="btns">
        <!-- <a href="/listings" class="btn btn-dark col-1 offset-2">Back to Listings</a><br><br> -->
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary col-1 offset-3 edit-btn action-btn">Edit</a><br><br>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" style="display:inline;">
        <button type="submit" class="btn btn-dark  offset-5 ">Delete</button>
    </form>
    </div>
    <div class="col-8 offset-3 mb-3 ">
        <hr>
        <h4>Leave a review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating:</label><br>
                 <input type="range" class="form-range" id="rating" name="review[rating]" min="1" max="5" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment:</label><br>
                <textarea id="comment" name="review[comment]" rows="4" cols="50" class="form-control" required></textarea>
                 <div class="invalid-feedback">Please add some comments in review</div>
            </div>
            <button type="submit" class="btn btn-outline-dark mt-2">Submit</button>
        </form>
        <hr>

        <p>Reviews</p>
        <div class="row">
        <p><% listing.reviews.forEach(review => { %>
           <div class="card mb-3 review-card ms-3 col-5">
            <div class="card-body">
                <h5 class="card-title">Ganesh</h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text">Rating: <%= review.rating %> stars</p>
            </div>
            <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button type="submit" class="btn btn-dark btn-sm">Delete</button>
            </form>
           </div>
        <% }); %></p>
        </div>
    </div>
</body>
</html>